version: '3'
services:
  nginx: 
    image: nginx:latest
    container_name: nginx_prod
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf
      - ./sites-enabled:/etc/nginx/sites-enabled/
    ports:
      - 80:80
      - 443:443